<h1>Clubs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Founded</th>
      <th>City</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @beer_clubs.each do |beer_club| %>
      <tr>
        <td class="vert-align"><%= link_to beer_club.name, beer_club %></td>
        <td class="vert-align"><%= beer_club.founded %></td>
        <td class="vert-align"><%= beer_club.city %></td>
        <td class="vert-align"> <%= link_to 'Edit', edit_beer_club_path(beer_club), class:"btn btn-primary" %></td>
        <td class="vert-align"><%= link_to 'Destroy', beer_club, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beer club', new_beer_club_path, class:"btn btn-success" if current_user %>
