<p id="notice"><%= notice %></p>

<p>
  <h2><%= @user.username %></h2>
</p>

<p>

<% unless @user.ratings.empty? %>
    has made <%= @user.ratings.length.to_s(10) << " rating".pluralize(@user.ratings.length) %>. Average <%= round(@user.average_rating) %>
    <br>
      <% unless @user.favorite_style.nil?%>
          Favorite style: <%= @user.favorite_style %> <br>
      <% end %>
      <br>
      <% unless @user.favorite_brewery.nil?%>
          Favorite brewery: <%= @user.favorite_brewery %><br>
      <% end %>
    <h3>Ratings</h3>
    <ul class="list-group">
       <% @user.ratings.each do |rating| %>
          <li class="list-group-item"> <%= rating %>
            <% if @user == current_user %>
                <%= link_to 'delete', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger"%>
            <% end %>
           </li>
      <% end %>
    </ul>
<% end %>
</p>

<p>
  <% unless @user.beer_clubs.empty? %>
      is a member of <%= @user.beer_clubs.length.to_s(10) << " club".pluralize(@user.beer_clubs.length)%>
    <h3>Clubs</h3>
    <ul>
      <% @user.beer_clubs.each do |club| %>
          <li> <%= club %></li>
      <% end %>
    </ul>
<% end %>
</p>



<%= link_to 'Back', users_path, class:"btn btn-primary"%>
<% if (current_user == @user) %>
|
<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<% end %>