<p id="notice"><%= notice %></p>
<h1><%= @style.name %></h1>

<p>
  <%= @style.description %>
</p>


Beers of this style:

<% unless @beers.nil? or @beers.empty? %>
    <% @beers.each do |b| %>
        <ul>
         <li> <%= link_to(b.name, beer_path(b)) << " by " << link_to(b.brewery, brewery_path(b.brewery)) %></li>
        </ul>
    <% end %>
<% end %>

<%= edit_and_destroy_buttons(@style) %>
