<p id="notice"><%= notice %></p>

<p>
<h2><%= @brewery.name %></h2>
</p>

<p>
  <i>Established in <%= @brewery.year %></i>

</p>

<p>
  Number of beers <%= @brewery.beers.count %>

</p>

<p>
    <% @brewery.beers.each do |beer| %>
        <%= link_to beer.name, beer%>
    <% end %>
</p>

<% if(!@brewery.ratings.empty?) %>
    <p>Has <%= @brewery.ratings.length.to_s(10) << " rating".pluralize(@brewery.ratings.length) %>, average: <%= @brewery.average_rating %> </p>
<%	 end %>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
